---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import HeadingStyled from "../HeadingStyled.astro";

const { imagePath, altText, headingStyle, headingText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section class="main-grid">
  <article class="spacing-article">
    <HeadingStyled {headingStyle} {headingText} />
    <p class="sub-heading-style">Better Website Means A User Experience</p>
    <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
  </article>
  <article>
    <figure>
      <Image src={images[imagePath]()} alt={altText} />
    </figure>
    <Icon name="play-button" />
  </article>
</section>

<style>
  section {
    place-items: center;

    > article:last-child {
      margin-block-start: 2rem;
    }
  }
  article {
    text-align: center;
    > * {
      margin-inline: auto;
    }
    &:last-child {
      display: grid;
      place-items: center;
      > * {
        grid-area: 1/1;
      }
    }
  }

  [data-icon] {
    inline-size: 6.8125rem;
    block-size: 6.8125rem;
    z-index: 1;
  }

  figure {
    position: relative;
    img {
      border-radius: 1.3rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 60% -5%;
      border-radius: 1.25rem;
      inline-size: 25%;
      block-size: 50%;
      background: var(--secondary-color-3);
      z-index: -1;
    }
  }
</style>
