---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import HeadingStyled from "./HeadingStyled.astro";
import Button from "./Button.astro";

const { imagePath, imagePath2, altText, headingText, headingStyle, buttonStyle } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
if (!images[imagePath2]) throw new Error(`"${imagePath2}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section class="main-grid">
  <article>
    <div class="spacing-article">
      <HeadingStyled {headingStyle} {headingText} />
      <p class="sub-heading-style">Better Consult, Better Results</p>
      <p>Our software development agency has a growth up to 30% per each year. If you are result-oriented, not afraid to take initiative – drop us a note and join our team!</p>
      <Button btnIcon="true" buttonStyle="yellow" text="+800 1234 654 " />
    </div>
    <figure>
      <Image src={images[imagePath]()} alt={altText} />
      <Image src={images[imagePath2]()} alt={altText} />
    </figure>
  </article>
</section>

<style>
  section {
    --content: min(70rem, 100% - 2rem * 2);
    container: main-content / inline-size;
  }

  article {
    display: grid;
    grid: auto/1fr 1fr;
    gap: 2rem;
    background: var(--secondary-color-1);
    border-radius: 1.8rem;
    padding: 0 6cqi;

    & div:first-child {
      place-self: center;
      color: #fff;
    }

    .sub-heading-style {
      color: white;
    }
  }

  figure {
    margin-block-start: 8rem;
    position: relative;
    z-index: 2;
    img:first-child {
      border-top-left-radius: 1.3rem;
      border-top-right-radius: 1.3rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -4% -5%;
      border-radius: 1.25rem;
      inline-size: 25%;
      block-size: 40%;
      background: var(--secondary-color-3);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      inset: -30.7% 68%;
      border-bottom-left-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      inline-size: 40%;
      block-size: 87%;
      background: var(--secondary-color-2);
      z-index: -1;
    }
  }

  @container main-content (width < 700px) {
    article {
      grid: auto/1fr;
      padding: 6cqi;
    }
    figure {
      display: none;
    }
  }
</style>
